<div class="col-md-12 col-sm-12">

    <div class="col-md-8 col-sm-12">
        <div class=" panel panel-primary">
            <div class="panel-heading"><b>Add Info</b></div>
            <div class="panel-body">
                <form id="Add_Site_Form">
                    <div class="form-group">
                        <span class="col-sm-12 alert alert-info"><label>Data Form</label></span>
                        <div class="col-sm-12">
                            <span class="col-sm-6"><label>User ID</label></span>
                            <span class="col-sm-6"><input id="userID" type="text" class="form-control"
                                                          ng-value="userForm.userID"
                                                          ng-model="userForm.userID"></span>
                            <span class="col-sm-6"><label>User Name</label></span>
                            <span class="col-sm-6"><input id="userName" type="text" class="form-control"
                                                          ng-value="userForm.userName"
                                                          ng-model="userForm.userName"></span>
                            <span class="col-sm-6"><label>User Address</label></span>
                            <span class="col-sm-6"><input id="userAddress" type="text" class="form-control"
                                                          ng-value="userForm.userAddress"
                                                          ng-model="userForm.userAddress"></span>
                                                          <span class="col-sm-6"></span>                              
                            <span class="col-sm-6">
                                <button type="submit" class="btn btn-warning col-sm-4"
                                         ng-model="userForm.addUser"
                                         ng-click="userForm.addUser()"
                                         title="Add To User List">save</button>
                                 <button class="btn btn-danger col-sm-8"
                                            ng-model="userForm.pushToTable"
                                             ng-click="userForm.pushToTable()">Push to table</button>
                            </span>
                       
                        </div>
                        <span class=" col-sm-12 alert alert-info"><label>Data Table</label></span>
                        <div class="form-group" >
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>User ID</th>
                                    <th>User Name</th>
                                    <th>User Address</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in userForm.UserRetrievedList">
                                    <td> {{item.userItemID}}</td>
                                    <td> {{item.userItemName}}</td>
                                    <td> {{item.userItemAddress}}</td>
                                    <td>
                                        <button type="button" ng-click="userForm.addUser(item)">Save</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <span class="col-sm-6"></span>
                        <span class="col-sm-6">
                        <button class="btn btn-danger form-control"
                                ng-model="userForm.addAllUsers" ng-click="userForm.addAllUsers()">Save as bulk
                            </button></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
