<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><span> Assignment</span></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="thumbnail" style="background-color: #008080;color:#f7f7f7">
                <h4 align="center" >Assignment</h4>
            </div>
        </div>
    <br/>
</div>
